@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: radial-gradient(circle at center, #064e3b, #022c22, #042f2e);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}